<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="margin:0; padding:0; background:#eeeeee;">
    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
      Invisable preheader text the text you put here helps towards an opened email.
    </div>

    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
	    &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>

    <center>

    <div style="width:100%; max-width:600px; background:#ffffff; padding:30px 20px; text-align:left; font-family: 'Arial', sans-serif;">
      <!--[if mso]>
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" bgcolor="#ffffff">
      <tr>
      <td align="left" valign="top" style="font-family: 'Arial', sans-serif; padding:20px;">
      <![endif]-->
    <!--
      <a href="http://glennsmith.me">
        <img src="http://placehold.it/400x100" width="200" height="50" style="display:block; margin-bottom:30px;">
      </a>
    -->
      <h1 style="font-size:16px; line-height:22px; font-weight:normal; color:#333333;">
        Activar cuenta
      </h1>

      <img src="http://placehold.it/50x1/0969a5/0969a5" width="50" height="1" style="display:block; margin-bottom:30px;">

      <p style="font-size:16px; line-height:24px; color:#666666; margin-bottom:30px;">
        Hola, nos alegramos mucho que hagas parte de nuestra comunidad, para terminar con el registro, por favor haz click en el botón "Activar cuenta" que se muestra a continuación, 
        si no has solicitado tu registro, puedes ignorar este mensaje.
      </p>
      <p style="font-size:16px; line-height:24px; color:#666666; margin-bottom:30px;">
        Después de activar tu cuenta, podrás inicar sesión.
      </p>
        
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#0969a5"
                    style="padding: 12px 26px 12px 26px; border-radius:4px"
                    align="center">
                    <a href="http://{{link}}" type="post"
                       target="_blank"
                       style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">
                         Activar cuenta
                    </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="100%" height="30">&nbsp;</td>
        </tr>
      </table>

      <p style="font-size:16px; line-height:24px; color:#666666; margin-bottom:30px;">
        Gracias por confiar y hacer parte de nostros.
      </p>

      <hr style="border:none; height:1px; color:#dddddd; background:#dddddd; width:100%; margin-bottom:20px;">

      <p style="font-size:12px; line-height:18px; color:#999999; margin-bottom:10px;">
        &copy; Copyright 2020
        <a href="http://glennsmith.me"
           style="font-size:12px; line-height:18px; color:#666666; font-weight:bold;">
           Tangosoft SAS</a>, All Rights Reserved.
      </p>

      <!--[if mso | IE]>
      </td>
      </tr>
      </table>
      <![endif]-->

    </div>

    </center>

  </body>
</html>
